{% from "includes/_macros.html" import render_field %}


<form method="POST" action="">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <h6 class="font-weight-bold">Filtros</h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ render_field(form_filter.city, class="form-control", id="tags") }}
                {{ render_field(form_filter.gender, class="form-control") }}
            </div>
            <div class="form-group">
                <label for="amount">Faixa de valor:</label>
                {{ render_field(form_filter.value_range, id="amount", readonly='readonly', style="border:0; color:#f6931f; font-weight:bold;") }}
                <div id="slider-range-amount"></div>
            </div>

            <div class="form-group">
                <label for="age">Faixa de idade:</label>
                {{ render_field(form_filter.age_range, id="age", readonly='readonly', style="border:0; color:#f6931f; font-weight:bold;") }}
                <div id="slider-range-age"></div>
            </div>
            <input name="form_filter" type="submit" value="Filtrar" class="btn btn-primary">
            <a href="{{url_for('list_guests')}}" class="btn btn-warning">Limpar</a>
        </div>
    </div>
</form>

<script>
  $( function() {
    var availableTags = [
    {% for city in cities %}
    { value: "{{city.desc}}", data: "{{city.id}}" },
    {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags,
      minLength: 3
    });
  } );
  </script>

  <script>
  $( function() {
    $( "#slider-range-amount" ).slider({
      range: true,
      min: 100,
      max: 2000,
      values: [ {{ranges.minValue}}, {{ranges.maxValue}} ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "R$" + ui.values[ 0 ] + " - R$" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "R$" + $( "#slider-range-amount" ).slider( "values", 0 ) +
      " - R$" + $( "#slider-range-amount" ).slider( "values", 1 ) );
  } );
  </script>

  <script>
  $( function() {
    $( "#slider-range-age" ).slider({
      range: true,
      min: 18,
      max: 100,
      values: [ {{ranges.minAge}}, {{ranges.maxAge}} ],
      slide: function( event, ui ) {
        $( "#age" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#age" ).val($( "#slider-range-age" ).slider( "values", 0 ) +
      " - " + $( "#slider-range-age" ).slider( "values", 1 ) );
  } );
  </script>